table{
    border: 2px solid green;
    width: 50px; 
    /* border-collapse is either =separate or collapse*/
    border-collapse: separate;
    empty-cells: hide;
}

td{
    border: 2px solid goldenrod;
    text-align: center;
    font-size: 50px;
}

tr.odd{
    background-color: gray;
    color: white;
}

tr.even{
    color: gray;

}

/* Forms*/


#first_name,
#last_name{
    background-color: white;
    color: green;
    height: 50px;
    font-size: 15px;
    border: 0;
    border-bottom: 2px solid purple;
    
}

#sumbit{
    height: 50px;
    width: 100px;
    font-size: 15px;
    border: 2px solid gray;
    background-color: seagreen;
    color: white;
}

