*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

div{
    width: 300px;
    height: 300px;
    margin: 60px;
    float: right;
}

.div1{
    background-color: tomato;

}
.div2{
    background-color: teal;
}

.div3{
    background-color: goldenrod;
}

.div4{
    background-color: purple;
}
