*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    border: 2px solid red;
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    /* display: none; will hide your element */
}

ul li{
    margin: 20px;
    padding: 20px;
    display: inline;
}